@model projet1.ModelBD.proprietaire
@{
    ViewBag.Title = "Delete";
    Layout = null;
}

@using (Html.BeginForm("Delete", "Proprietaire", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.id)

    <div style="text-align:center">
        <div class="form-group">
            <label>First Name</label>
            <p>@Model.nom</p>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <p>@Model.prenom</p>
        </div>

        <div class="form-group">
            <label>Email</label>
            <p>@Model.email</p>
        </div>

        <div class="form-group">
            <label>Telephone</label>
            <p>@Model.tel</p>
        </div>

        <p style="margin-top:10px">Etes-vous sur de vouloir supprimer le proprietaire @Model.nom @Model.prenom?</p>

        <div style="text-align:center">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        </div>
        }
